.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: (100vh - 40px - 95px - 43px);
  text-align: center;
  margin-top: 130px;
}

.title {
  font-size: 2rem;
  margin-bottom: 0rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.scoreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eed38f;
  width: 31rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-bottom: 0rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.score {
  font-size: 4.5rem;
  font-weight: bold;
}

.scoreIcon {
  height: 4.5rem;
  padding-right: 1rem;
}

.improvement {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #bac7cd;
  border: none;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  border-radius: 9.6px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background-color: #9faaaf;
}

.button:active {
  transform: scale(0.95);
}
