.titleContainer {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 4px;
}

.name {
  font-style: italic;
  color: #5e7ec1;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  margin-top: 4px;
}

.description {
  font-size: 18px;
  font-style: italic;
  margin-top: 5px;
}
