.ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormCompleteButton {
  background-color: #7cab99;
  color: #fff;
  font-size: 1.1rem;
  width: 600px;
  padding: 10px;
  margin: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;
}

.FormCompleteButton:hover {
  background-color: #678e7f;
}

.FormCompleteButton:active {
  transform: scale(0.95);
}
