.playerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 20px;
}

.content {
  display: flex;
  justify-content:center;
}

.videoContainer {
  flex: 1;
  background-color: #d9d9d9;
  height: 300px;
  border-radius: 8px;
  margin-right: 20px;
  max-width: 800px;
  aspect-ratio: 21 / 9;
}


  