annotated-types
anyio
certifi
click
colorama
dnspython
email_validator
exceptiongroup
fastapi
fastapi-cli
h11
h2
hpack==4.0.0
httpcore
httpx
hyperframe
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
mutagen
pydantic
pydantic_core
Pygments
python-multipart
rich
setuptools==71.0.4
shellingham
sniffio
starlette
typer==0.12.3
typer-slim==0.12.3
typing_extensions
uvicorn
wheel==0.43.0