.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f3ff;
  padding: 1em 4em 1em 5em;
  box-sizing: border-box;
  width: 100%;
  color: black;
  font-size: 0.8em;
  height: 95px;
  margin-top: auto;
  border-top: 5px solid #f0e8e1;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 70px;
  margin-right: 1.5em;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.footer-contact p {
  margin: 0;
}

.footer-right {
  text-align: right;
  align-self: flex-end;
}
