.navbar {
    display: flex;
    background-color: #fff;
    color: black;
    align-items: center;
    justify-content: flex-start;
    padding: 0.1em 1em;
}

.navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-center {
    flex: 2;
    text-align: center;
}

.navbar-center h1 {
    margin: 0;
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-logo {
    height: 40px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-right: 1em;
}

.navbar ul li a {
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 25px;
}

.navbar ul li a:hover {
    background-color: #D9D9D9;
}

.volume-icon {
    color: black;
    margin-left: 1em;
    cursor: pointer;
}