  .player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px - 95px - 43px); 
    padding: 20px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
  }
  
  .videoContainer {
    flex: 1;
    background-color: #d9d9d9;
    height: 300px;
    border-radius: 8px;
    margin-right: 20px;
    max-width: 800px;
    aspect-ratio: 21 / 9;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100px;
  }
  
  .controls button {
    background-color: #d9d9d9;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .controls button:hover {
    background-color: #c0c0c0;
  }
  
  .skipButton {
    font-size: 1em;
  }
  
  .finishLaterButton {
    font-size: 1em;
  }
  
  .description {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .description p {
    flex: 1;
    margin: 0 10px;
    text-align: center;
  }
  