.breakTimes {
  margin: 65px 20px;
}

.breakList {
  display: flex;
  gap: 10px;
}

.rightContainer {
  display: flex;
  align-items: end;
}

.leftContainer {
  max-width: 300px;
}

.firstBreakItem {
  margin-bottom: 10px;
  padding: 6px;
  background-color: #99aae7;
  border-radius: 19.2px;
  width: 380px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.nextSchedule {
  font-weight: bold;
  font-size: 0.8em;
  margin: 6px;
}

.firstBreakItem div {
  display: flex;
  justify-content: center;
  margin: 6px;
  gap: 12px;
}

.deactiveButton {
  color: #fff;
  border-radius: 16px;
  background-color: #5f5f5f;
  border: none;
  cursor: pointer;
}

.nextScheduleTimer {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
}

.remainingBreakItems {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.breakItem {
  display: flex;
  align-items: center;
}

.breakItem div {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 19.2px;
  padding: 18px;
  font-weight: bold;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.3);
}
