.goalsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  margin: 133px 10px 20px 10px;
}

.header {
  margin-bottom: 12px;
  font-size: 1.2em;
}

.goals {
  display: flex;
  gap: 24px;
}

.goal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 19.2px;
  width: 216px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.icon {
  height: 116px;
}

.text {
  margin-left: 8px;
  font-size: 2em;
  font-weight: bold;
}
