.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    padding-top: 0px;
    border-radius: 5px;
    position: relative;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    align-items: center;
    font-size: larger;
}

.icon {
    color: black;
    margin-left: 10px;
}

.imageContainer {
    width: 100%;
    height: fit-content;
    background-color: gray;
}

.image {
    width: 100%;
    height: auto;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-top: 10px;
    border-radius: 10px;
}