.modalLetsMakeItBetter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmButton {
  background-color: #d9d9d9;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.confirmButton:hover {
  background-color: #c9c9c9;
}
