.settings {
  margin: 60px 20px;
}

.settingsBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  width: 510px;
  border-radius: 15px;
  background-color: #7c9aab;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.settings p {
  margin: 10px;
  font-size: 0.8em;
}
