.settings {
  margin: 30px 20px;
}

.settingsButton {
  padding: 10px;
  border-radius: 8px;
  background-color: #d3d3d3;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.3);
}
