.playerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.playerContainerDiv {
  max-width: 60vw;
  width: fit-content;
}

.content {
  display: flex;
  justify-content: center;
}

.videoContainer {
  display: flex;
}

.videoContainer video {
  flex: 1;
  border-radius: 8px;
  background-color: #d9d9d9;
  margin-right: 20px;
  max-width: 800px;
  aspect-ratio: 21 / 9;
  justify-self: center;
}
